.bg-img {
  background-image: url(https://cdn.wallpapersafari.com/3/69/QyI4r8.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  background-blend-mode: darken;
}

h1 {
    color: white;
}
 
.drop-button {
    min-width: 100%;
    background-color: rgb(35, 180, 185) !important;
    color:white;
    border-radius: 12px;
    margin: 3px;
   
}
#band-info {
    background-color: rgb(35, 180, 185);
    padding: 10px;
    color: white;
    border-radius: 10px;
}
#repo_3 {
    display: flex;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
 
    
}
#twitter, #insta, #fb, #wik, #bio-button {
    /* margin-left: 35px;
    margin-right: 35px; */
    display: flex;
    flex: auto;
    justify-content: center;
    align-content: space-around;
   margin-top: 0;
}  
#twitter {
    color: rgb(0, 153, 255);
}
#fb {
    color: blue;
}
#insta {
    color: rgb(255, 115, 0);
}
#artist {
    text-align: center;
    margin-bottom:20px;
    font-size: 40px;
    font-weight: bolder;
}
#wik{
    color: rgba(255, 255, 255, 0.685);
}
#recent_searches {
    background-color: transparent;
    box-shadow: none;
}
#recent {
    color:rgba(255, 255, 255, 0.685);
}
